
@{
    ViewBag.Title = "ExperienceAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Deneyim Guncelleme Sayfası</h4>
<br />
<form method="post">
    <br />
    <input type="text" class="form-control" name="Title" placeholder="Başlığı yazınız" />
    <br />
    <input type="text" class="form-control" name="Subtitle" placeholder="AltBaşlığı yazınız" />
    <br />
    <input type="text" class="form-control" name="Date" placeholder="Çalısma TARİHİ yazınız" />
    <br />
    <textarea class="form-control" name="Descreption" rows="5" placeholder="Açıklama yazınız"></textarea>
    <br />
    <button class="btn btn-info">Ekle</button>
</form>
<br />
<a class="btn btn-info" href="/Experience/Index">İptal et</a>