@using MvcCv.Models.Entity
@model List<TblExperience>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Deneyi Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>AltBaşlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
   
       @foreach (var item in Model)
       {
           <tr>
               <td>@item.ID</td>
               <td> @item.Title</td>
               <td>@item.Subtitle</td>
               <td>@item.Date</td>
               <td><a href="/Experience/ExperienceDelete/@item.ID" class="btn btn-danger">Sil</a></td>
               <td><a href="/Experience/ExperienceCall/@item.ID" class="btn btn-warning">Düzenle</a></td>
              
           </tr>
       }
</table>
<a href="/Experience/ExperienceAdd/" class="btn btn-primary">Yeni Deneyim Ekle</a>
