
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda menusu</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Sehir</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Burak</td>
        <td>Altay</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Tayfun</td>
        <td>Katılmış</td>
    </tr>
</table>
