
@{
    ViewBag.Title = "SkillAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetenek Ekleme  Sayfası</h2>
<br />
<form method="post">
    <br />
    <input type="text" class="form-control" name="Skill" placeholder="Yeteneği yazınız" />
    <br />
    <input type="text" class="form-control" name="Ratio" placeholder="Oranı yazınız" />
    <br />
    <button class="btn btn-info">Ekle</button>
</form>
